{% extends 'shared/base.html' %}

{% block content %}
<h1>Computers</h1>
<a href="{% url 'hrapp:computer_form' %}">Add Computer to Bangazon</a>


<ol>
{% for computer in computers %}
    <li>
    Computer Manufacturer & Model: <a href="{% url 'hrapp:computer' computer.id %}">{{computer.maufacturer}} {{computer.model}}</a>
        <br>&emsp;Purchase Date: {{computer.purchase_date}}
        <br>&emsp;Decommission Date: {{computer.decommission_date}}
    </li><br>
{% endfor %}
</ol>
{% endblock content %}