{% extends 'shared/base.html' %}
  {% block content %}
  {% load humanize %}
    <section>

        <h1>{{ department.dept_name }}</h1>
        <h3>Budget: ${{department.budget|intcomma}}</h3>
        {% if dept_employees|length is not 0 %}
        <h3>Employee List</h3>
        {% endif %}
        <ol>
            {% for employee in department.employees %}

            <li>Employees: {{ employee.first_name }} {{employee.last_name}} </li>

        {% endfor %}
        </ol>

    </section>

{% endblock %}



