
{% extends 'shared/base.html' %}

{% block content %}
<h1>Departments</h1>
{% comment %} <a href="{% url 'hrapp:department_form' %}">Add Department to Bangazon</a> {% endcomment %}


<ol>
{% for department in all_departments %}
    <li>
        <p>{{ department.dept_name }}</p>
        <p>Budget:{{ department.budget }}
        <br><br>Employees: </p>
        {% for employee in department.employees %}
        <ul>
        &emsp;<li>{{ employee.first_name }} {{ employee.last_name }}</li>
        </ul>
        {% endfor %}
    </li>
{% endfor %}
</ol>
{% endblock %}

