{% extends 'shared/base.html' %}

{% block content %}
{% load humanize %}
<h1>Departments</h1>
<a href="{% url 'hrapp:department_form' %}">Add Department to Bangazon</a>


<ol>
{% for department in all_departments %}
    <li>
  <a href="{% url 'hrapp:department' department.id %}"> {{ department.dept_name }}</a>
        <h3>{{ department.dept_name }}</h3>
        <p>Budget:  ${{ department.budget|intcomma }}

        &emsp;<p>Number of employees: {{ department.employees|length }}</p>

        {% endfor %}
    </li>

</ol>
{% endblock %}





