



{% extends 'shared/base.html' %}

{% block content %}
<h1>Departments</h1>
<a href="{% url 'hrapp:department_form' %}">Add Department to Bangazon</a>


<ol>
{% for department in all_departments %}
    <li>
   {% comment %} <a href="{% url 'hrapp:department_detail' department.id %}"> {{ department.dept_name }}</a> {% endcomment %}
        <p>Budget:{{ department.budget }}
        <br><br>Employees: </p>
        {% for employee in department.employees %}
        <ul>
        &emsp;<li>{{ employee.first_name }} {{ employee.last_name }}</li>
        </ul>
        {% endfor %}
    </li>
{% endfor %}
</ol>
{% endblock %}







