{% extends 'shared/base.html' %}

{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Training Programs</title>
  </head>
  <body>
      {% block content %}

    <h1>{{ training_program.title }}</h1>
    <h2>Start Date: {{ training_program.start_date }}</h2>
    <h2>End Date: {{ training_program.end_date }}</h2>
    <h2>Description {{ training_program.description }}</h2>

    {% comment %} <div>Number of Attendees {{ book.year_published }}</div> {% endcomment %}
        {% endblock content %}

  </body>
</html>